#chat-screen {
    background-color: #abc1d1;
    height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
    top: 0px;
    position: fixed;
    width: 100%;
    background-color: #abc1d1;
    box-sizing: border-box;
}
#chat-screen .status-bar{
    z-index: 2;
}

#chat-screen alt.alt-header {
    top: 10px;
    z-index: 1; /* 이제 status-bar와 alt-header 는 main 을 덮게 된다 */
}


.main-chat {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat__timestamp{
    color: white;
    background-color: #92a4b2;
    font-size: 15px;
    padding: 15px;
    border-radius: 25px;
    margin-bottom: 25px;
}

.message-row {
    width: 100%;
    display: flex;
    margin-bottom: 25px;

}

.message-row img {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    
    margin-right: 10px;
    
}


.message__author {
    margin-bottom: 15px;
    display: block;
}

.message__bubble {
    background-color: white;
    padding: 13px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-right: 5px;
}
.message__info {
    display: flex;
    align-items: flex-end;
}

.message__time,
.message__author {
    opacity: 0.8;
    font-size: 13px;

}

.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-right: 0px;
    margin-left: 5px;
}


/* flex인 children 의 배열되는 순서 뒤집기 */
.message-row--own .message__info{
    
    flex-direction: row-reverse;
    
}

.reply{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    /* 보더박스 안하면 아이콘 안보임 */
    box-sizing: border-box;
    align-items: center;
}
.reply .reply__column:first-child{
    width: 10%;
}
.reply .reply__column:last-child{
    width:90%;
    /* 아이콘들을 absolute 포지션으로 올릴거라서 relative 포지션으로 한다 */
    position: relative;
}
.reply i {
    opacity: 0.5;
}

.reply input {
    padding: 12px;
    width: 100%;
    border: var(--main-border);
    border-radius: 20px;
}
.reply__column:last-child > i,
.reply__column:last-child button {
    position: absolute;
    right: -3px;
    top: 2px;
}

.reply__column:last-child > i {
    right: 40px;
    top: 20px;
    
}

.reply__column button {
    background-color: var(--yellow);
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    

}
.reply__column button i{
    opacity : 1;
}
.reply__column button: focus,
.reply__column button: active{
    outline: none;

}