
.welcome-header{
    margin: 90px 0px;
    text-align: center;
    /* 가운데로 배치시키기 */
    display: flex;
    flex-direction:column;
    align-items: center;
    font-weight: 600;
}

.welcome-header__title{
    margin-bottom: 20px;
    font-size: 25px;

}
.welcome-header__text{
    width: 60%;
    opacity: 0.7;
}

/* 아래부터는 class명 대신 id명으로 써보고 비교해보기 */
#login-form {
display : flex;
flex-direction: column;
margin: 0px 30px;

}
/* .login-form__input{} 과 비교 */
#login-form input{
    border: none;
    padding: 15px 0px;
    font-size: 18px;
    margin-bottom: 20px;
    
}
/* input 에서 submit 타입인 경우 적용 안할 스타일 지정. */
#login-form input:not([type="submit"]){
    border-bottom: 1px solid rgba(0,0,0, 0.2);
    transition: border-color 0.3s ease-in-out;
}
#login-form input::placeholder{
    color: rgba(0, 0 , 0, 0.4);
}
#login-form input:focus{
    border-color: var(--yellow);
}


/* .login-form__btn{} 과 비교 */
#login-form input[type="submit"]{
    background-color: var(--yellow);
    /* 마우스를 올리면 손가락 모양으로 바꾸기 */
    cursor: pointer;
    font-size: 16px;
    padding: 20px 0px;
    border-radius: 5px;

}
/* .login-form__a{} 꼴과 비교 */
#login-form a{
    text-align: center;
    /* 밑줄 없애기 */
    text-decoration: none;
    /* 부모(<form id="login-form">)에게 컬러상속 */
    color: inherit;
    font-size: 13px;
    font-weight: 500;

}